<!DOCTYPE html>
<html id="jb3-posts-container">
<head>
<title>jb3 paste</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex,nofollow">
<link rel="stylesheet" type="text/css" href="/assets/common/reset.css">
<link rel="stylesheet" type="text/css" href="/webjars/blaze/3.2.0/dist/blaze.min.css">
<link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="c-text">
	{{> partials/header}}
	<main class="o-container o-container--large">
            <section class="u-letter-box--medium">
                    <jb3-paste-form></jb3-paste-form>
            </section>
	</main>

    <script src="/webjars/jquery/3.5.1/jquery.js" defer></script>
    <script src="/webjars/riot/2.4.1/riot.js" defer></script>
    <script src="/assets/thirdparty/responsive-sketchpad.js" defer></script>
    <script src="/assets/tags/paste/jb3-paste-emoji--tag.js" defer></script>
    <script src="/assets/tags/paste/jb3-paste-file--tag.js" defer></script>
    <script src="/assets/tags/paste/jb3-paste-record--tag.js" defer></script>
    <script src="/assets/tags/paste/jb3-paste-sketch--tag.js" defer></script>
    <script src="/assets/tags/paste/jb3-paste-text--tag.js" defer></script>
    <script src="/assets/tags/paste/jb3-paste-totoz--tag.js" defer></script>
    <script src="/assets/tags/paste/jb3-paste-form--tag.js" defer></script>
    <script src="/assets/paste/paste.js" defer></script>
</body>
</html>